@use "../vendors/bootstrap";
@use "../utilities/_utilities-index" as utilities;

.dropdown {
  .dropdown-btn {
    @include utilities.border-bottom;
    @extend .border-primary;
  }

  .dropdown-menu {
    @extend .border-0;

    .dropdown-item {
      position: relative;
      @extend .text-primary, .p-3;
      transition: padding 0.1s ease-in-out;

      // add a layer to apply opacity only to underline
      @include utilities.after-layer  {
        @include utilities.border-bottom;
        @extend .border-primary;
        opacity: 0.1;
      }

      &:hover {
        @extend .font-weight-bold, .pl-4;
        background: none;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}
