@use "../vendors/bootstrap";

.radio-inline {
  label {
    @extend .pl-2, .m-0;
    cursor: pointer;
    &:not(:last-child)::after {
      // add a vertical seperator
      @extend .pl-2;
      content: "|";
    }
    input {
      display: none; // hide checkbox
      &:checked {
        ~ span {
          @extend .font-weight-bold;
        }
      }
    }
  }
}
