<main>
  <!-- Our Projects Block -->
  <section class="container-main project-page">
    <!-- Feature Container -->
    <div class="container-fluid p-0 my-5">
      <nav>
        <ul class="nav-inline uppercase theme-secondary">
          <li>Interior</li>
          <li>Kitchen & Bathroom</li>
          <li class="active">Exterior</li>
        </ul>
      </nav>
      <img
        src="./images/showcase-06.png"
        class="img-fluid py-1"
        alt="alt description goes here"
      />
      <nav class="pt-5">
        <ul class="nav-inline uppercase theme-primary">
          <li>Home</li>
          <li>Projects</li>
          <li class="active">Alps & Ave</li>
        </ul>
      </nav>
    </div>
    <!-- Description Container -->
    <div class="project-summary">
      <div>
        <h1 class="text-uppercase text-spaced-lg">Alps & Ave</h1>
        <p class="mw-450px">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
      </div>
      <div>
        <img src="./images/alps-and-ave-logo.png" width="200px" height="auto" />
      </div>
    </div>
    <hr class="section-hr" />
    <div class="project-description">
      <div class="row mb-5">
        <div class="col col-md-4">
          <h6>Address</h6>
          <span> 123 Smith Street, Port Melbourne, VIC, 3207 </span>
          <h6>Developer</h6>
          <span> Quis Nostrud </span>
          <h6>Architect</h6>
          <span> Ut emin </span>
        </div>
        <div class="col col-md-8">
          <h6>No. of Apartments</h6>
          <span> 64 </span>
          <h6>Product Mix</h6>
          <span> 2 & 3 Bedrooms </span>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <span class="text-size-120">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </span>
          <span>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
            <br />
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur
          </span>
        </div>
        <div class="col col-md-8">
          <span class="mw-450px">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </span>
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid p-0">
    <img src="./images/map.png" width="100%" alt="map" />
  </div>
  <div class="container-fluid p-0">
    <div id="EnquiryForm"></div>
  </div>
  <!-- Showcase Container -->
  <section class="container-main project-page">
    <div class="container-fluid p-0 my-4">
      <!-- -->
      <div class="container-showcase theme-primary">
        <div class="row">
          <div class="col-image">
            <img
              src="./images/showcase-06.png"
              alt="large white houses amongst a marina"
            />
          </div>
          <div class="col-text">
            <h5>Alps & Ave</h5>
            <h6>Melbourne, Vic 3046</h6>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor
            </p>
          </div>
        </div>
      </div>
      <!-- -->
      <div class="container-showcase theme-secondary reversed">
        <div class="row">
          <div class="col-image">
            <img src="./images/showcase-07.png" alt="" />
          </div>
          <div class="col-text">
            <h5>Alps & Ave</h5>
            <h6>Melbourne, Vic 3046</h6>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
