<main>
  <!-- Our Projects Block -->
  <section class="container-main">
    <!-- Feature Container -->
    <div class="container-fluid p-0 my-5">
      <nav>
        <ul class="nav-inline uppercase theme-secondary">
          <li>Interior</li>
          <li>Kitchen & Bathroom</li>
          <li class="active">Exterior</li>
        </ul>
      </nav>
      <img
        src="./images/showcase-01.png"
        class="img-fluid py-1"
        alt="alt description goes here"
      />
      <nav class="pt-5">
        <ul class="nav-inline uppercase theme-primary">
          <li>Home</li>
          <li>Projects</li>
          <li class="active">Alps & Ave</li>
        </ul>
      </nav>
    </div>
    <!-- Description Container -->
    <div class="container-fluid p-0 my-5">
      <h1 class="text-uppercase text-spaced-lg">Alps & Ave</h1>
      <p class="mw-450px">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna.
      </p>
    </div>
    <!-- Showcase Container -->
    <div class="container-fluid p-0 my-4">
      <!-- -->
      <div class="container-showcase theme-primary">
        <div class="row">
          <div class="col-image">
            <img
              src="./images/showcase-01.png"
              alt="large white houses amongst a marina"
            />
          </div>
          <div class="col-text">
            <h5>Alps & Ave</h5>
            <h6>Melbourne, Vic 3046</h6>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor
            </p>
          </div>
        </div>
      </div>
      <!-- -->
      <div class="container-showcase theme-secondary reversed">
        <div class="row">
          <div class="col-image">
            <img src="./images/showcase-02.png" alt="" />
          </div>
          <div class="col-text">
            <h5>Alps & Ave</h5>
            <h6>Melbourne, Vic 3046</h6>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
