$white: #fff;
$very-light-pink: #d8d8d8;
$goldenrod: #ffc808;
$darkblue: #070768;
$light-peach: #dfd4c6;
$light-blue-grey: #cedbde;
$macaroni-and-cheese: #e5ac39;
$macaroni-and-cheese-50: rgba(229, 172, 57, 0.5);
$brown-grey: #919191;
