.mw-300px {
  max-width: 300px;
}

.mw-600px {
  max-width: 600px;
}

.mw-1200px {
  max-width: 1200px;
}

.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.li-type-none {
  list-style-type: none;
}
