<div class="container-fluid px-5 mw-1200px border">
  <!-- Heading Container -->
  <div class="container-fluid p-0 my-lg-5">
    <h2 class="text-primary text-uppercase text-spaced border">Our Projects</h2>
    <p class="border mw-300px">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna.
    </p>
  </div>
  <!-- Catgeories Dropdown & Radio Container -->
  <div class="container-fluid p-0 my-4 border">
    <h6 class="text-primary text-uppercase text-spaced border">Categories</h6>
    <div class="d-flex justify-content-between align-items-end">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle dropdown-btn"
          type="button"
          id="categoriesDropdownButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          All
        </button>
        <div class="dropdown-menu" aria-labelledby="categoriesDropdownButton">
          <a class="dropdown-item" href="#">Apartments</a>
          <a class="dropdown-item" href="#">Townhouses</a>
          <a class="dropdown-item" href="#">Houses</a>
          <a class="dropdown-item" href="#">Case Studies</a>
        </div>
      </div>
      <form class="radio-inline" action="">
        <label>
          <input
            type="radio"
            name="project-status"
            value="current"
            checked
          /><span>Current</span>
        </label>
        <label>
          <input type="radio" name="project-status" value="completed" /><span
            >Completed</span
          >
        </label>
      </form>
    </div>
  </div>
  <!-- Showcase Container -->
  <div class="container-fluid p-0 my-4">
    <!-- -->
    <div class="container-showcase primary-theme">
      <div class="row">
        <div class="col-image">
          <img src="./images/showcase-01.png" alt="" />
        </div>
        <div class="col-text">
          <h5 class="text-spaced text-uppercase">Alps & Ave</h5>
          <h6 class="text-uppercase">Melbourne, Vic 3046</h6>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor
          </p>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="container-showcase secondary-theme reversed">
      <div class="row">
        <div class="col-image">
          <img src="./images/showcase-02.png" alt="" />
        </div>
        <div class="col-text">
          <h5 class="text-spaced text-uppercase">Alps & Ave</h5>
          <h6 class="text-uppercase">Melbourne, Vic 3046</h6>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor
          </p>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="container-showcase primary-theme">
      <div class="row">
        <div class="col-image">
          <img src="./images/showcase-03.png" alt="" />
        </div>
        <div class="col-text">
          <h5 class="text-spaced text-uppercase">Alps & Ave</h5>
          <h6 class="text-uppercase">Melbourne, Vic 3046</h6>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor
          </p>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="container-showcase primary-theme reversed">
      <div class="row">
        <div class="col-image">
          <img src="./images/showcase-04.png" alt="" />
        </div>
        <div class="col-text">
          <h5 class="text-spaced text-uppercase">Alps & Ave</h5>
          <h6 class="text-uppercase">Melbourne, Vic 3046</h6>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor
          </p>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="container-showcase primary-theme">
      <div class="row">
        <div class="col-image">
          <img src="./images/showcase-05.png" alt="" />
        </div>
        <div class="col-text">
          <h5 class="text-spaced text-uppercase">Alps & Ave</h5>
          <h6 class="text-uppercase">Melbourne, Vic 3046</h6>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
