<div class="container border">
  <h1 class="text-primary text-uppercase text-spaced border">Our Projects</h1>
  <p class="border mw-300px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna.
  </p>
  <h5 class="text-primary text-uppercase text-spaced border">Categories</h5>
  <div class="dropdown">
    <button
      class="btn dropdown-toggle dropdown-btn"
      type="button"
      id="categoriesDropdownButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      All
    </button>
    <div class="dropdown-menu" aria-labelledby="categoriesDropdownButton">
      <a class="dropdown-item" href="#">Apartments</a>
      <a class="dropdown-item" href="#">Townhouses</a>
      <a class="dropdown-item" href="#">Houses</a>
      <a class="dropdown-item" href="#">Case Studies</a>
    </div>
  </div>
</div>
