<footer class="text-brown-grey">
  <div class="container-fluid border-bottom">
    <!-- newsletter section -->
    <div class="container-fluid mw-1200px">
      <div class="row">
        <div class="col-a">
          <h6 class="text-uppercase mb-3">Subscribe</h6>
          <span>Sign up to recieve updates from Sphynx</span>
        </div>
        <div class="col-sm-9 col-sm-pt">
          <h6 class="text-uppercase mb-3">Email</h6>
          <form action="" id="sign-up-form">
            <div class="input-group">
              <input
                type="email"
                class="form-control"
                placeholder="Enter your email address*"
                aria-label="Email input with submit arrow"
              />
              <div class="input-group-append">
                <button type="submit" class="btn">
                  <img src="./images/icn-right.svg" width="20" />
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- about section -->
  <div class="container-fluid mw-1200px">
    <div class="row">
      <div class="col-a">
        <h6 class="text-spaced-lg font-weight-lighter">SPHYNX</h6>
      </div>
      <div class="col-sm-3 col-sm-pt">
          A
      </div>
      <div class="col-sm-2 col-sm-pt">
          B
      </div>
      <div class="col-sm-2 col-sm-pt">
          C
      </div>
      <div class="col-sm-2 col-sm-pt">
          D
      </div>
    </div>
  </div>
</footer>
