<footer>
  <!-- More Info Block -->
  <section class="container-fluid p-5 bg-primary text-secondary text-center">
    <h5 class="py-3 text-spaced-lg text-uppercase">
      Find out more about the lifestyle
    </h5>
    <a
      ><h6
        class="
          py-2
          text-spaced-md text-uppercase
          border-bottom
          d-inline
          border-secondary
        "
      >
        view lifestyle
      </h6></a
    >
  </section>
  <!-- newsletter section -->
  <section class="container-fluid border-bottom p-0">
    <div class="container-fluid mw-1200px">
      <div class="footer-row newsletter-row">
        <div class="col-a">
          <h6 class="text-uppercase mb-3">Subscribe</h6>
          <span>Sign up to recieve updates from Sphynx</span>
        </div>
        <div class="col-sm-9 pt-on-sm">
          <h6 class="text-uppercase mb-3">Email</h6>
          <form action="">
            <div class="input-group">
              <input
                type="email"
                class="form-control input-field"
                placeholder="Enter your email address*"
                aria-label="Email input with submit arrow"
              />
              <div class="input-group-append">
                <button type="submit" class="btn ml-n4 p-0">
                  <img
                    src="./images/icn-right.svg"
                    width="20"
                    alt="arrow pointing right"
                  />
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- about section -->
  <section class="container-fluid mw-1200px">
    <div class="footer-row about-row">
      <div class="col-a">
        <h6 class="text-spaced-lg font-weight-lighter">SPHYNX</h6>
      </div>
      <div class="col-md-8 col-lg-4 pt-on-md">
        <nav>
          <ul class="nav-inline uppercase">
            <li>
              <a class="active" href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Location</a>
            </li>
            <li>
              <a href="#">Team</a>
            </li>
            <li>
              <a href="#">Register</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul class="nav-inline">
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Disclaimer</a>
            </li>
            <li>Copyright 2017</li>
          </ul>
        </nav>
      </div>
      <div class="col-md-3 col-lg-2 pt-on-lg">
        <span class="sub-heading">Contact Us</span>
        <a href="mailto:hello@sphynx.com.au" class="footer-email">
          hello@sphynx.com.au
        </a>
      </div>
      <div class="col-md-4 col-lg-2 pt-on-lg">
        <span class="sub-heading">Property Template by</span>
        <span class="text-spaced-md text-uppercase">Concierge</span>
      </div>
      <div class="col-md-4 col-lg-2 pt-on-lg">
        <ul class="social-links">
          <li>
            <button type="button" class="button-social">
              <img src="./images/fb.svg" alt="facebook icon" />
            </button>
          </li>
          <li>
            <button type="button" class="button-social">
              <img src="./images/tw.svg" alt="twitter icon" />
            </button>
          </li>

          <li>
            <button type="button" class="button-social">
              <img src="./images/ig.svg" alt="instagram icon" />
            </button>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
