<header class="pb-5">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-collapse collapse order-2 navbar-left nav-content">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lifestyle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-center">
        <button
          class="navbar-toggler mr-3"
          type="button"
          data-toggle="collapse"
          data-target=".nav-content"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <li><a class="navbar-brand" href="#">SPHYNX</a></li>
      </ul>
      <div
        class="
          navbar-collapse
          collapse
          ml-auto
          order-3 order-md-3
          navbar-right
          nav-content
        "
      >
        <ul class="ml-auto nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
