@use "./colors.scss";

// Customize some defaults
$body-color: colors.$darkblue;
$primary: colors.$darkblue;
$secondary: colors.$macaroni-and-cheese;

// import bootstrap
@import "bootstrap/scss/bootstrap";
